.TOUT{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:  repeat(5,1fr) ;
    color: white;
    text-align: center;
}
.n1{
    background-color: black;
}
.n2{
    grid-column: 2/6;
    background-color: rgb(255, 1, 1);
}
.n3{
    grid-column: 1/6;
    grid-row: 2;
    background-color: rgb(105, 105, 248);
    height: 70px;
}
.n4{
    grid-column: 1/3;
    grid-row: 3/5;
    background-color: rgb(42, 57, 106);
}
.n5{
    grid-column: 5;
    grid-row: 3;
    background-color: rgb(187, 235, 187);
}
.n6{
   grid-column: 5;
    grid-row: 4; 
    background-color: rgb(120, 215, 184);
}
.n7{
    grid-column: 1/6;
    background-color: yellow;
}
@media(max-width:70rem){
    ..TOUT{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:  repeat(5,1fr) ;
    color: white;
    text-align: center;
}
.n1{
    grid-column: 1/6;
    grid-row: 1;
}
.n2{
    grid-column: 1;
    grid-row: 3/6;
}
.n3{
    grid-column: 1/6;
    grid-row: 2;
}
.n4{
    grid-column: 2/6;
    grid-row: 3;
}
.n5{
    grid-column: 4;
    grid-row: 5;
}
.n6{
    grid-column: 2/4;
    grid-row: 5;
}
.n7{
    grid-column: 2/5;
    grid-row: 4;
}
}
@media (max-width:38rem){
    .TOUT{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  repeat(5,1fr) ;
    color: white;
    text-align: center;
}
.n1{
    grid-row: 1;
    grid-column: 1;
}
.n2{
    grid-row: 2;
    grid-column: 1;
}
.n3{
    grid-row: 3;
    grid-column: 1;
}
.n4{
    grid-row: 4;
    grid-column: 1;
}
.n5{
    grid-row: 7;
    grid-column: 1;
}
.n6{
    grid-row: 6;
    grid-column: 1;
}
.n7{
    grid-row: 5;
    grid-column: 1;
}
}