.gridtout{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    color: white;
    text-align: center;
    gap: 8px;
    
}
.me1{
    grid-column: 1/6;
    grid-row: 1;
    background-color: brown;
}
.me2{
    grid-column: 6/13;
    grid-row: 1;
    background-color: black;
}
.me3{
    grid-column: 1/3;
    grid-row: 2/7;
    background-color: green;
}
.me4{
    grid-column: 3/11;
    grid-row: 2/4;
    background-color: blue;
}
.me5{
    grid-column: 11/13;
    grid-row: 2;
    background-color: red;
}
.me6{
    grid-column:3/5;
    grid-row: 4;
    background-color: rosybrown;
}
.me7{
    grid-column:5/7;
    grid-row: 5;
    background-color: rosybrown;
}
.me8{
    grid-column: 9/11;
    grid-row: 4;
    background-color: rosybrown;
}
.me9{
    grid-column: 11/13;
    grid-row: 4;
    background-color: red;
}
.me10{
    grid-column: 11/13;
    grid-row: 5;
    background-color: rosybrown;
}
.me11{
    grid-column: 3/13;
    grid-row: 6;
    background-color: orange;
}
