h3{
    font-style: oblique;
}
.cardtout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr ;
    gap: 20px;
    margin: 60px;
}
.card{
    background-color:white;
    height: 200px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 10px;
}
img{
    width: 50px;
    position: relative;
    left: 360px;
}
.me1{
    grid-column: 1;
    grid-row: 2/4;
    border-top: 3px solid rgb(4, 255, 37);
}
.me2{
    grid-column: 2;
    grid-row: 1/3;
    border-top: 3px solid red;
}
.me3{
    grid-column: 3;
    grid-row: 2/4;
    border-top: 3px solid blue;
}
.me4{
    grid-column: 2;
    grid-row: 3/5;
    border-top: 3px solid orange;
    
}
.texte{
    text-align: center;
}
