.cardtout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.card{
    background-color:rgb(244, 6, 6);
    height: 90px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 10px;
}
@media (max-width:800px){
    .cardtout{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .n3{
    grid-column: 1/3;
}
}
@media (max-width:600px){
    .cardtout{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .n1{
       grid-column: 1;
    grid-row: 1; 
    }
    .n3{
    grid-column: 1;
    grid-row: 3;
}

}